services:
  # Dịch vụ 1: API Nhạc (Backend) - Build bằng Node.js
  - type: web
    name: mp3-api
    env: node
    plan: free 
    autoDeploy: true
    rootDir: ./mp3-api
    buildCommand: npm install
    startCommand: npm start 
    envVars:          # <-- BẮT ĐẦU KHỐI MỚI
      - key: PORT
        value: 5555     # <-- Ép nó chạy trên port 5555

  # Dịch vụ 2: Adapter cho Xiaozhi (Frontend/Proxy) - Build bằng Node.js
  - type: web
    name: xiaozhi-adapter
    env: node
    plan: free 
    autoDeploy: true
    rootDir: ./adapter
    buildCommand: npm install
    startCommand: node xiaozhi-adapter.js
    envVars:
      - key: PORT
        value: 5005 # Cổng mà adapter sẽ lắng nghe
      - key: MP3_API_URL
        # Bây giờ link này sẽ TRỞ NÊN ĐÚNG
        value: http://mp3-api:5555
